.st-label{
    font-weight: bold !important;
    font-size: large;
    
}

.label-cab{
    font-weight: bold !important;     
}

.row-headerCard{
margin-right: 0 !important;
margin-left: 0 !important;
}